@tailwind base;
@tailwind components;
@tailwind utilities;

.dnd-flow .root-node {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    border: 2px solid #339af0;
    border-radius: 15px;
    overflow-wrap: break-word;
    max-width: 200px;
    width: 150px;
}